#body {
    
    background: linear-gradient(45deg, rgb(89,93,120), rgb(36,37,43));
    max-width: 1000px;
    height: 100vh;
    margin: auto;
}

.form-input{ 
    display: flex;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    text-indent: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{ 
    display: flex;
    font: arial;
    color: antiquewhite;
}